



.course_info_pane{
    -fx-background-color:#E7FEFF;
    -fx-border: 2px;
    -fx-border-color: black;
}

.workspace_pane{
     -fx-background-color:#CCCDFE;
     
}
.site_template_pane{
     -fx-background-color:#E7FEFF;
     -fx-border-color: black;
}
.page_style_pane{
     -fx-background-color:#E7FEFF;
     -fx-border-color: black;
}